{% extends 'base.html' %}

{% block title %}
Home Page
{% endblock %}

{% block content %}
<br>
<div class="text-center">
    <h1>Худей, худей, деньги не жалей</h1>
    <a class="btn btn-md btn-secondary" href="{{ url_for('market_page') }}">
        Заказать
    </a>


</div>
{% endblock %}




<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Home Page</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1> Give Me the Money</h1>-->
<!--</body>-->
<!--</html>-->